.home {
	height: 84vh;
	width: 100%;
	background-image: url("src/assets/images/home/background.svg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr) 2fr;
	grid-template-rows: 2fr repeat(6, 1fr) 2fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.img_pokedex {
	grid-area: 1 / 2 / 5 / 5;
	align-self: flex-end;
	max-width: 100%;
	max-height: 100%;
}

.img_patrol {
	grid-area: 3 / 4 / 7 / 7;
	max-width: 100%;
	max-height: 100%;
	align-self: flex-start;
}

.img_trainer1 {
	grid-area: 2 / 1 / 8 / 2;
	align-self: center;
	max-width: 100%;
	max-height: 100%;
}

.img_trainer2 {
	grid-area: 2 / 7 / 8 / 8;
	align-self: center;
	max-width: 100%;
	max-height: 100%;
}

.btn_home {
	background-color: var(--btn-home-color);
	color: var(--btn-font-color);
	font-size: var(--font-h1-size);
	font-family: var(--main-font);
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border: 1px solid white;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	text-decoration: none;
	cursor: pointer;
}

.btn_home::after {
	content: "";
	display: block;
	width: 80%;
	margin: auto;
	height: 0.3em;
	background-color: var(--btn-font-color);
	margin-top: 0.3em;
}

.play {
	grid-area: 6 / 2 / 8 / 4;
}

.tuto {
	grid-area: 6 / 5 / 8 / 7;
}

.transition-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.transition-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
