.wildTrainer {
	display: grid;
	width: 300px;
	grid-template-rows: auto auto;
}

.wildTrainer > img {
	grid-area: 1 / 1;
	width: 300px;
	z-index: 1;
}

.chatBox {
	grid-area: 1 / 1;
	z-index: 3;
	display: grid;
	place-items: center;
	margin-top: 150px;
}

.chatBox img {
	grid-area: 1 / 1;
	width: 100%;
}

.textOnImage {
	grid-area: 1 / 1;
	color: black;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 24px;
	text-align: left;
}
