.notebook-button {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

.notebook-button.closed {
  background-image: url('../../assets/images/interact/carnet_bleu_ferme.svg');
}

.notebook-button.open {
  background-image: url('../../assets/images/verif/carnet_bleu_ouvert.svg');
  width: 950px;
  height: 950px;
}

.notebook-button:hover {
  transform: scale(1.1);
}