.gamescreen {
  width: 100vw;
  height: 100vh;
  background-image: url("src/assets/images/hud/desk_forest_jade.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}