:root {
	--main-font: "PokemonClassic";
	font-family: var(--main-font), Inter, system-ui, Avenir, Helvetica, Arial;

	--font-color: black;
	--background-color: black;
	--btn-approve-color: #01cc00;
	--btn-deny-color: #fe2708;

	--font-h1-size: 30px;
	--font-h2-size: 28px;
	--font-p-size: 22px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "PokemonClassic";
	src: url("./assets/font/PokemonClassic.ttf");
	font-weight: normal;
	font-style: normal;
}
